body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
header {
  font-family: 'Varela Round', sans-serif;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 40px;
  background-color: cyan;
  color: yellow;
  font-weight: bolder;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.main-container {
  display: flex;
  justify-content: space-around;
  font-family: 'Varela Round', sans-serif;
}
.left {
  max-width: 300px;
  max-height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  margin-top: 10px;
}
.instructions li {
  margin: 20px 0;
}
.right {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30px;
}
.hidden {
  z-index: 0;
}
.showing {
  z-index: 1000;
}
#start {
  position: relative;
  left: 110px;
  top: -430px;
  border-radius: 50%;
  padding: 35px 0px;
  color: cyan;
  background-color: yellow;
  font-family: Varela Round;
  font-weight: bolder;
  text-align: center;
  font-size: 22px;
  max-width: 100px;
  max-height: 100px;
}
#start:hover {
  background-color: magenta;
  cursor: pointer;
}
#score {
  position: relative;
  top: -470px;
  left: 10px;
  z-index: 1000;
}
#game-over, #paused {
  position: relative;
  text-align: center;
  top: -355px;
}
#replay {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid cyan;
  background-color: #ff7400;
}
#replay:hover {
  cursor: pointer;
  color: magenta;
  background-color: #a605ff;
}
.difficulty {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
.difficulty p {
  border-radius: 50%;
  padding: 10px 10px;
  cursor: pointer;
}
.difficulty p {
  background-color: blue;
}
#easy {
  background-color: yellow;
  color: magenta;
}
#medium {
  background-color: cyan;
}
#hard {
  background-color: magenta;
}
#easy:hover {
  color: magenta;
}
#medium:hover {
  color: yellow;
}
#hard:hover {
  color: cyan;
}
