body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background: -webkit-linear-gradient(left top, magenta, cyan);
}
header {
  font-family: 'Varela Round', sans-serif;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 40px;
  background-color: cyan;
  color: yellow;
  font-weight: bolder;
}
h1 {
  text-align: center;
  font-size: 48px;
}
h3 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
.main-container {
  display: flex;
  justify-content: space-around;
  font-family: 'Varela Round', sans-serif;
}
.left {
  max-width: 300px;
  max-height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  margin-top: 5px;
}
.instructions {
  color: white;
}
.instructions li {
  margin: 25px 0;
  font-size: 18px;
}
.right {
  display: flex;
  flex-direction: column;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30px;
  font-size: 32px;
}
.fa {
  color: white;
}
.fa:hover {
  color: cyan;
}
#start {
  z-index: 1000;
  position: relative;
  left: 110px;
  top: -290px;
  border-radius: 50%;
  padding: 35px 0px;
  color: cyan;
  background-color: yellow;
  font-family: Varela Round;
  font-weight: bolder;
  text-align: center;
  font-size: 22px;
  max-width: 100px;
  max-height: 100px;
}
#start:hover {
  background-color: magenta;
  cursor: pointer;
}
.scores {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  position: relative;
  top: -470px;
  z-index: 10000;
  color: magenta;
}
#game-over, #paused {
  display: none;
  z-index: 1000;
  position: relative;
  text-align: center;
  top: -280px;
}
#game-over p, #paused p{
  display: inline-block;
}
#replay {
  /* display: inline-block; */
  display: none;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid cyan;
  background-color: #ff7400;
}
#replay:hover {
  cursor: pointer;
  color: magenta;
  background-color: #a605ff;
}
.difficulty {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 5px 30px;
  min-height: 34px;
  width: 248px;
}
.difficulty p {
  border-radius: 50%;
  padding: 10px 10px;
  cursor: pointer;
}
.difficulty p {
  background-color: blue;
}
#easy {
  background-color: yellow;
  color: magenta;
}
#medium {
  background-color: cyan;
}
#hard {
  background-color: magenta;
}
#easy:hover {
  color: magenta;
}
#medium:hover {
  color: yellow;
}
#hard:hover {
  color: cyan;
}
#author {
  color: white;
}
